# build output
dist/

# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment variables
.env
.env.production

# macOS-specific files
.DS_Store
.vscode/extensions.json
.vscode/launch.json
public/favicon.svg
src/components/ui/breadcrumb/Breadcrumb.vue
src/components/ui/breadcrumb/BreadcrumbEllipsis.vue
src/components/ui/breadcrumb/BreadcrumbItem.vue
src/components/ui/breadcrumb/BreadcrumbLink.vue
src/components/ui/breadcrumb/BreadcrumbList.vue
src/components/ui/breadcrumb/BreadcrumbPage.vue
src/components/ui/breadcrumb/BreadcrumbSeparator.vue
src/components/ui/breadcrumb/index.ts
src/components/ui/button/Button.vue
src/components/ui/button/index.ts
src/components/ui/card/Card.vue
src/components/ui/card/CardContent.vue
src/components/ui/card/CardDescription.vue
src/components/ui/card/CardFooter.vue
src/components/ui/card/CardHeader.vue
src/components/ui/card/CardTitle.vue
src/components/ui/card/index.ts
src/components/ui/dropdown-menu/DropdownMenu.vue
src/components/ui/dropdown-menu/DropdownMenuCheckboxItem.vue
src/components/ui/dropdown-menu/DropdownMenuContent.vue
src/components/ui/dropdown-menu/DropdownMenuGroup.vue
src/components/ui/dropdown-menu/DropdownMenuItem.vue
src/components/ui/dropdown-menu/DropdownMenuLabel.vue
src/components/ui/dropdown-menu/DropdownMenuRadioGroup.vue
src/components/ui/dropdown-menu/DropdownMenuRadioItem.vue
src/components/ui/dropdown-menu/DropdownMenuSeparator.vue
src/components/ui/dropdown-menu/DropdownMenuShortcut.vue
src/components/ui/dropdown-menu/DropdownMenuSub.vue
src/components/ui/dropdown-menu/DropdownMenuSubContent.vue
src/components/ui/dropdown-menu/DropdownMenuSubTrigger.vue
src/components/ui/dropdown-menu/DropdownMenuTrigger.vue
src/components/ui/dropdown-menu/index.ts
src/components/ui/select/index.ts
src/components/ui/select/Select.vue
src/components/ui/select/SelectContent.vue
src/components/ui/select/SelectGroup.vue
src/components/ui/select/SelectItem.vue
src/components/ui/select/SelectItemText.vue
src/components/ui/select/SelectLabel.vue
src/components/ui/select/SelectScrollDownButton.vue
src/components/ui/select/SelectScrollUpButton.vue
src/components/ui/select/SelectSeparator.vue
src/components/ui/select/SelectTrigger.vue
src/components/ui/select/SelectValue.vue
src/lib/utils.ts
src/env.d.ts
astro.config.mjs
components.json
package-lock.json
package.json
README.md
src/components/ui/tooltip/TooltipTrigger.vue
src/components/ui/tooltip/TooltipProvider.vue
src/components/ui/tooltip/TooltipContent.vue
src/components/ui/tooltip/Tooltip.vue
src/components/ui/tooltip/index.ts
src/components/ui/tooltip/index.ts
src/components/ui/tooltip/Tooltip.vue
src/components/ui/tooltip/TooltipContent.vue
src/components/ui/tooltip/TooltipProvider.vue
src/components/ui/tooltip/TooltipTrigger.vue
src/components/ui/textarea/index.ts
src/components/ui/textarea/Textarea.vue
src/components/ui/alert/Alert.vue
src/components/ui/alert/AlertDescription.vue
src/components/ui/alert/AlertTitle.vue
src/components/ui/alert/index.ts
ASSETS/Apple_ProRes.pdf
ASSETS/dnxhd.pdf
ASSETS/DNxHR Codec Bandwidth Specifications.htm
ASSETS/HighRes_WorkflowsGuide.pdf
src/components/ui/badge/Badge.vue
src/components/ui/badge/index.ts
