---
import Layout from "@/layouts/Layout.astro";
import "@/styles/globals.css";
import { Button } from "@/components/ui/button";

import {
	Breadcrumb,
	BreadcrumbItem,
	BreadcrumbLink,
	BreadcrumbList,
	BreadcrumbPage,
	BreadcrumbSeparator,
} from "@/components/ui/breadcrumb";

import { Home } from 'lucide-vue-next';

---

<Layout title={"Proxy Calc > about"}>
	<main>
		<div class="inline-flex items-center">
			<Breadcrumb>
				<BreadcrumbList>
					<BreadcrumbItem>
						<BreadcrumbLink >
							<a href="/">
							<Home size={20} stroke-width={1.5}/>
							</a>
						  </BreadcrumbLink>
					</BreadcrumbItem>
					<BreadcrumbSeparator />
					<BreadcrumbItem>
						<BreadcrumbPage>About</BreadcrumbPage>
					</BreadcrumbItem>
				</BreadcrumbList>
			</Breadcrumb>
		</div>
		<div>ABOUT TEST</div>
	</main>
</Layout>
