---
import Layout from '@/layouts/Layout.astro';
import '@/styles/globals.css';
import { Button } from '@/components/ui/button';
import { getCollection } from "astro:content";

const codecs = await getCollection("codecs");
//console.log(codecs);

---


<Layout title={"Proxy Calc > about"}>
	<main>
				
		ABOUT TEST
		
	</main>
</Layout>

