---
import Layout from "@/layouts/Layout.astro";
import "@/styles/globals.css";
import { Button } from "@/components/ui/button";
import { getCollection } from "astro:content";
import { Home } from "lucide-vue-next";

import {
	Breadcrumb,
	BreadcrumbItem,
	BreadcrumbLink,
	BreadcrumbList,
	BreadcrumbPage,
	BreadcrumbSeparator,
} from "@/components/ui/breadcrumb";

const codecs = await getCollection("codecs");
//console.log(codecs);
---

<Layout title={"Proxy Calc > Codec list"}>
	<main>
		<div class="inline-flex items-center">
			<Breadcrumb>
				<BreadcrumbList>
					<BreadcrumbItem>
						<BreadcrumbLink>
							<a href="/">
								<Home size={20} stroke-width={1.5} />
							</a>
						</BreadcrumbLink>
						<BreadcrumbSeparator />
						<BreadcrumbItem>
							<BreadcrumbPage>Codec list</BreadcrumbPage>
						</BreadcrumbItem>
					</BreadcrumbItem>
				</BreadcrumbList>
			</Breadcrumb>
		</div>
		<div
			class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-4 my-4"
		>
			{
				codecs.map((codec) => (
					<div class="w-full">
						<a href={`/codeclist/${codec.slug}`}>
							<Button
								variant="outline"
								class="h-fit w-full flex-col items-center min-w-80 sm:min-w-0"
							>
								<span class="text-lg">{codec.data.title}</span>
							</Button>
						</a>
					</div>
				))
			}
		</div>
	</main>
</Layout>
