---
import Layout from '@/layouts/Layout.astro';
import '@/styles/globals.css';
import { getCollection } from "astro:content";

const codecs = await getCollection("codecs");
//console.log(codecs);

---


<Layout title={"Proxycalc"}>
	<main>
		Welcome to Proxycalc!

		Calculate the approximate size of your footage in storage.

		Learn about key concepts in the video encoding world.
	</main>
</Layout>

