---
import { Button } from "@/components/ui/button";
import Layout from "@/layouts/Layout.astro";
import "@/styles/globals.css";
---

<Layout title={"Proxycalc"}>
	<main>
		<div class="my-4">
			<div class="sm:text-center">
				<p class="text-center text-3xl sm:text-5xl font-bold mb-4">
					Welcome to Proxycalc!
				</p>

				<p class="sm:text-center text-lg sm:text-xl">
					Calculate the approximate size of your footage in storage.
				</p>
				<Button class="my-4 text-base">Take a look at the codec list</Button>
				<p class="sm:text-center text-lg sm:text-xl">
					Learn about key concepts and terms in the video encoding world.
				</p>
				<Button class="my-4 text-base">Check the documentation</Button>
			</div>
		</div>
	</main>
</Layout>
