---
import { Separator } from "@/components/ui/separator";
import { FileVideo, SeparatorVerticalIcon } from "lucide-vue-next";
import { Button } from "@/components/ui/button";
---

<footer>
    <div
        class="text-sm mx-auto w-full flex flex-wrap my-2 items-center gap-2 justify-center bottom-0 inset-x-0"
    >
        <p class="text-muted-foreground">Hola</p>
        <p class="text-muted-foreground">|</p>
        <a href="/about">About</a>
        <p class="text-muted-foreground">|</p>
        <a href="/codeclist">Codec list</a>
    </div>
</footer>
