---
import { FileVideo } from "lucide-vue-next";
---

<footer>
    <div
        class="text-sm text-muted-foreground mx-auto w-full flex flex-wrap my-2 items-center gap-2 sm:gap-4 justify-center bottom-0 inset-x-0"
    >
        <div class="flex items-center">
            <a href="/"><FileVideo size={24} stroke-width={1} /></a>
            <a href="/">Proxycalc</a>
        </div>
        <p>|</p>
        <a href="/docs">Docs</a>
        <p>|</p>
        <a href="/codeclist">Codec list</a>
        <p>|</p>
        <a href="/about">About</a>
    </div>
</footer>
