---
import ModeToggle from "./ModeToggle.vue";
import HeaderComp from "./HeaderComp.vue";
import { Separator } from "@/components/ui/separator";
import { FileVideo } from "lucide-vue-next";
const Base = import.meta.env.BASE_URL;

// header-height variable defined in globals.css
---

<header>
    <div
        class="items-center h-[var(--header-height)] mx-auto w-full max-w-screen-2xl bg-background flex justify-between sm:justify-end fixed inset-x-0 z-40 opacity-95"
    >
        <HeaderComp client:load />
        <div class="flex sm:order-first sm:mr-auto ml-2">
            <a href=`${Base}/` aria-label="Home">
                <FileVideo size={32} stroke-width={1} />
            </a>
            <span class="flex items-center text-xl ">
                <a href=`${Base}/`>Proxycalc</a>
            </span>
        </div>
        <ModeToggle client:load />
        <Separator class="absolute bottom-0" />
    </div>
</header>
