---
import ModeToggle from "./ModeToggle.vue"
import HeaderComp from "./HeaderComp.vue"
---
<header>
    <div class="flex justify-end">
        <HeaderComp class="justify-self-end" client:load />
        <ModeToggle class="flex-auto" client:load />
    </div>
    
</header>